<body class="welcome">
  <div class="header">
    <p>Welcome to Phoenix Portal</p>
  </div>
  <div class="maincontainer">
    <br>
    <div class="pagecontainer">
      <div class="content">
        <p>学生</p>
      </div>
      <div class="content">
        <p>企業</p>
      </div>
      <div class="content">
        <p>JOB</p>
      </div>
    </div>
    <br>
    <div class="pagecontainer2">
      <div class="content2">
        <p>担当者</p>
      </div>
      <div class="content2">
        <p>売り上げ</p>
      </div>
    </div>
    <br>

</body>
